@media (max-width:1199px) {
    .banner-section .banner-logo{
        display: none;
    }
    .reach-section .reach{
        display: none;
    }
    
}

@media (max-width:991px) {
  
    .feature-section{
        padding: 20px;
    }
}

@media (max-width:477px) {
    .client-section .card{
        padding: 30px 20px;
    }
    
}

@media (max-width:677px) {
  
h2{
    font-size: 30px;
}
h1{
            font-size: 40px;
        line-height: 50px;
}
}